body {
  height: 100%;
}

/* container style */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #82eefd;
  width: 70%;
  margin: 0 auto;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%;
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
}

/*  dropdwon button styling  */
.btn-dropdown {
  border: none;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 12px 18px;
}

/* list and list item styling */
.list {
  gap: -10px;
  list-style: none;
  background-color: #fff;
  margin-top: 5px;
  padding: 12px 20px;
}
.list li:not(:last-child) {
  margin-bottom: 10px;
}
